.button{
    -fx-background-color: #11afd6;
    -fx-background-radius: 0em;
}
.button:hover{
    -fx-background-color: #10bbe6;
}
.button:pressed{
    -fx-background-color: #02c8fa;
}
.button:focused{
    -fx-background-color: #02c8fa;
    -fx-border-color: black;
    -fx-border-width: 0px 0px 0px 3px;
}


.table-view .column-header,
.table-view .column-header-background .filler{
    -fx-cell-size: 20;
    -fx-background-color:  #0acbf2;
}
.table-view .column-header .label{
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected{
    -fx-background-color: #3681d6;
}
.table-row-cell:selected .text{
    -fx-fill: white;
}
/* ------------------------------------------ */
.table-view .increment-button ,.table-view .decrement-button{
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}



.top{
    -fx-border-width: 100%;
}


